body {
    background: #f2f2f2 ;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.barra-lateral {
    background: #262a34;
    color: #fff;
    min-width: 280px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral a {
    color: #fff;
    margin-left: 25px;
}

.barra-lateral button {
    color: #fff;
    margin-left: 25px;
}

.barra-lateral .logo {
    background: #0275db;
    margin-bottom: 2px;

}

.barra-lateral .logo h2 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
    
}

.barra-lateral .menu a {
    display: block;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-bottom: 1 px solid rgba(255,255,255,.1);
    text-decoration: none;
}

.barra-lateral .menu a:hover {
    background: #0275db;
    text-decoration: none;

}

.barra-lateral .menu .a i {
    margin-right: 20px;
    font-weight: normal;
}

.main {
    padding-top: 40px;

}

.main .columna {
    padding-left: 20px;
    padding-right: 20px;
}

.main .titulo {
    color: #262a34;
    font-size: 27px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.main .titulo-h1 {
    color: #262a34;
    font-size: 34px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.main .convencion {
    margin-top: 10px;
}

.main .widget{
    margin-bottom: 40px;

}

.main .widget form input[type="text"],
.main .widget form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Open sans', sans-serif;
    border: none;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,);


}

.main .widget form input[type="text"] {
    font-weight: 400;
}

.main .widget form textarea {
    height: 100px;
    min-height: 100px;
    max-width: 100%;
    min-width: 100%;
}

.main .widget form button {
    background: #0275d8;
    cursor: pointer;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    display: inline-block;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    transition: all .3s ease;
}

.main .widget form button:hover {
    background: #025aa5;
}

.main .estadisticas .contenedor {
    box-shadow: 0px 1px 1px 0px (rgba(0,0,0,.2));
}


.main .estadisticas .caja {
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 40px 20px;
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.main .estadisticas .caja h3 {
    margin-bottom: 10px;
    color: #35ae6b;
}

.main .estadisticas .caja p {
    color: #a8a8a8;
    margin-bottom: 0px;
}

.main .estadisticas .caja:first-child {
    border-right: none;
}

.main .estadisticas .caja:last-child {
    border-left: none;
}

.main .convenciones .contenedor {
    box-shadow: 0px 1px 1px 0px (rgba(0,0,0,.2));
}


.main .convenciones .caja {
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 15px 15px;
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.main .convenciones .caja h3 {
    margin-bottom: 10px;
    color: #35ae6b;
}

.main .convenciones .caja p {
    color: #a8a8a8;
    margin-bottom: 0px;
}

.main .convenciones .caja:first-child {
    border-right: none;
}

.main .convenciones .caja:last-child {
    border-left: none;
}

.main .comentarios .contenedor {
    box-shadow: 0px 0px 2px 0px rgba(0,0,00,.2);

}

.main .comentarios .comentario {
    padding: 20px;
    border-bottom: 1px solid #dfdfdf;

}

.main .comentarios .comentario .foto {
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 100px;
}

.main .comentarios .comentario a {
    display: inline-block;
}

.main .comentarios .comentario .foto img {
    width: 100%;
}

.main .comentarios .comentario .texto {
    flex: 1;
}

.main .comentarios .comentario .texto .texto-comentario {
    font-size: 14px;
    font-family: 'Open sans', sans-serif;
}

.main .comentarios .comentario .botones button {
    background: none;
    cursor: pointer;
    color: #fff;
    font-family: 'Opens sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .3s ease;
    margin-right: 10px;
    margin-bottom: 10px;

}

.main .comentarios .comentario .botones .aprobar {background: #35ae6b;}
.main .comentarios .comentario .botones .aprobar:hover {background: #449d44;}

@media screen and (max-width: 1300px) {
    .barra-lateral {
        min-width: auto;
    }

    .barra-lateral .logo {
        display: none;

    }

    .barra-lateral .menu span {
        display: none;
    } 

    .barra-lateral .menu i {
        margin: 0;
    }

}  

@media screen and (max-width: 575px) {
    .barra-lateral {
        min-height: auto;
    }

    .barra-lateral .menu {
        display: inline-flex;
        border-bottom: none;
        margin: 10px 10px 10px 10px;
        padding-left: 50%;
        padding-right: 50%;
    }

    .barra-lateral .menu ul {
        margin: 10px 0px 10px 0px;
    }

    .main .widget form button {
        width: 100%;
    }

}  

@media screen and (max-width: 320px) {
    .main .comentarios .comentario .foto {
        width: 30px;
        height: 30px;
    }

    .main .comentarios .comentario .botones button {
        width: 100%;
    }

}  
